setuptools>=70.0
fastapi==0.111.0
uvicorn[standard]==0.30.1
confluent-kafka==2.4.0
opentelemetry-sdk==1.43.0
opentelemetry-api==1.43.0
opentelemetry-exporter-otlp-proto-grpc==1.43.0
opentelemetry-instrumentation-fastapi==0.64b0
opentelemetry-instrumentation-logging==0.64b0
